<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rota - <%= movie.name %></title>
    <link rel="stylesheet" type="text/css" href="/styles/home.css" />
</head>
<body>
    <a href="/api/filmes" class="btn btn-back">Voltar</a>
    <h1>Rota - <%= movie.name %></h1>
    <div class="center">
        <div>
            <h2>
                <%= movie.name %>
            </h2>
            <img 
                src="<%= movie.link %>" 
                alt="<%= movie.name %>"
                >
            <div>
                <h3>
                    <%= movie.director %>
                </h3>
            </div>
        </div>
    </div>
</body>
</html>